* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background: rgb(79, 79, 79);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    margin: 50px;
    max-width: 1000px;
    min-height: 1000px;
    background: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.container .leftSide {
    position: relative;
    background-color: black;
    padding: 40px;
}

.profileText .img {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profileText .img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.profileText h2{
    color: white;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.4em;
    font-weight: 600;
}

.profileText h2 span {
    font-size: 0.8em;
    font-weight: 300;

}

.contactInfo {
    padding-top: 40px;
}

.title {
    color:white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contactInfo ul {
    position: relative;
}

.contactInfo ul li {
    list-style: none;
    position: relative;
    margin: 10px 0;
    cursor: pointer;
}

.contactInfo ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: rgb(79, 79, 79);
}

.contactInfo ul li span {
    color: white;
    font-weight: 300;
}

.contactInfo.education li {
    margin-bottom: 15px;
}

.contactInfo.education h5 {
    color: rgb(79, 79, 79);
    font-weight: 500;
    line-height: 1.5em;
}

.contactInfo.education h4 {
    color: white;
    font-weight: 100;
    line-height: 1.5em;
    margin-top: 10px;
} 

.contactInfo.lang .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background: white;
    display: block;
    margin-top: 5px;
}

.contactInfo.lang .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgb(79, 79, 79);
}
.container .rightSide {
    position: relative;
    background-color: white;
    padding: 40px;
    
}

.about {
    margin-bottom: 50px;
    font-weight: 5000;
}

.title2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.about .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.skills .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.skills .box h4{
    text-transform: uppercase;
    color: rgb(79, 79, 79);
    font-weight: 5000;
}

.skills .box .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background: #f0f0f0;
}

.skills .box .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgb(79, 79, 79);
}

.interest ul li{
    list-style: none;
    color: rgb(79, 79, 79);
    
}

.interest ul li .fa{
    color: black;
}

.qualities ul li{
    list-style: none;
    color: rgb(79, 79, 79);
}

.qualities ul li .fa{
    color: black;
}

@media(max-width: 1000px){
    .container {
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
}